.container{
    width: 1283px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    
}

.title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #000000;
    margin-bottom:40px;
}
.colortext{
    color:aqua ;
}
.menu-link{
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 26px 33px;
    ;
}
.menu-item {
    display: inline-block; 
    text-align:center;  
    }

.menu-link-empty-first, .menu-link-empty-second{
    width: 162px;
    height: 72px;
    padding: 40px 40px;
}

.menu-link-empty-first{
    border-right: 1px solid #FFFFFF ;
}

.header-menu {

    text-align: center;
    background-color: #35444F;
    width: 1283px;
    padding: 0;
    margin: 0%;
}

.main-part{
    display: flex;
}

.side-menu{
    border: 1px solid #000000;
    display: inline-block;
    list-style-type: none;
    width: 344px ;
    padding: 0%;
    margin-right: 52px;
    margin-top: 48px;
    vertical-align: top;

}

.category-item{
    text-align:center;
}

.category{

    font-size: 27px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #485863;
    padding-top: 26px;
    padding-left: 44px;
    padding-bottom: 30px;
}

.image{
    width: 314px;
    height: 381px ;
    border: 1px solid #000000;
    padding: 75px 268px 73px 297px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
  
}

.text{
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    display: inline-block;
    width: 885px;
    text-align: left;
    padding-left: 396px;
    margin-top: 35px;
    margin-bottom:0 ;
}



.footer-menu{
    background: rgba(99, 105, 110, 0.48);
    width: 1280px;
    height: 69px;
    margin-top: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
}

.footer-item{
    list-style-type: none;
}

.menu-link-footer{
    font-size: 28px;
    line-height: 28px;
    align-items: center;
    color: #010101;
}

.copyright{
    font-size: 24px;
    line-height: 24px;
    margin-left: 82px;
    margin-right: 40px;
}

.header-menu li a:hover{
    background: #222F3A;
}

.side-menu li a:hover{
    font-size: 27px;
    line-height: 27px;
    color: #35444F;
    margin-left: 38px;
    background: #DBDBDB;
}

.buttonChangeTheme{
    margin-top: 20px; 
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 3px;
    background: rgba(99, 105, 110, 0.48);
}