body{
    background: #F2F2F2;
    font-family: "Open Sans";
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.flex-align-center {
    display: flex;
    align-items: center;
}
.header-nav{
    width: 100%;
    background: #313131;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
}
.header-nav-icon{
    margin: 22px 27px;
}
.header-nav-link{
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    
}
.header-nav-menu{
    display: flex;

}
.header-nav-menu a{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-right: 35px;
}
.header-nav-menu a:hover{
    color: #14B9D5;
}
.header-nav-icon-search{
    background: #000000;
    padding: 27px ;
}

.subscribe-menu{
    background-image: url("../img/header-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    padding-top: 164px ;
    padding-bottom: 44px;
    
}
.subscribe-btn, .Articles-btn{
    width: 170px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    background: #89CA62;
    color: #FFFFFF;
    border: none;
    border-radius: 5%;
    padding: 16px 19px;
    margin-bottom: 74px;
    margin-right: 20px;
}
.Articles-btn{
    background: #14B9D5;
    
}
.subscribe-btn a{
    color: #FFFFFF;
}

.Articles-btn a{
    color: #FFFFFF;
}

.posts-title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;  
    text-align: center;
    margin-top: 49px;
    margin-bottom: 52px;
}

.posts-menu{
    display: flex;
    gap: 30px;
}
.photo-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF; 
    padding-top: 20px;
    margin-bottom: 30px ;
}

.clients-grid{
    background-image: url("../img/clients-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 74px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 58px;
}
.grid-item-1-clients{
    grid-area: 1/1/2/7 ;
    display: flex;
    justify-content: center;
}
.grid-item-2-clients{
    grid-area: 3/2/4/3 ;
}
.grid-item-3-clients{
    grid-area: 3/3/4/4 ;
}
.grid-item-4-clients{
    grid-area: 3/4/4/5 ;
}
.grid-item-5-clients{
    grid-area: 3/5/4/6 ;
}
.clients-title{
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding-top: 108px ;
}


.top-image{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.top-image img{
    width: 100%;
}
.news-text-box{
    background: #F9F7F7;
    width: 554px;
}
.title-news{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
    padding-top: 41px;
    padding-right: 24px;
    padding-bottom: 14.5px;
}
.text-news{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
    padding-bottom: 40.5px;
    padding-right: 24px;

}

.photo-title-news{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    background: #F9F7F7;
    /* text-align: center; */
    /* padding-left: 27px; */
    padding-top: 14px;
    padding-bottom: 11px;
    display: flex;
    justify-content: center;
    width: 277px;
}


.news-main-grid{
    display: grid;
    grid-template-rows: 1fr 259px 159px 259px 159px 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 46px;
}
.grid-item-1{
    grid-area: 1/1/2/4;
    display: flex;
    height: 259px ;

}
.grid-item-2{
    grid-area: 1/4/2/5 ;
}
.grid-item-3{
    grid-area: 2/1/4/3 ;
}
.grid-item-4{
    grid-area: 2/3/4/5 ;
}
.grid-item-5{
    grid-area: 4/1/6/3 ;
}
.grid-item-6{
    grid-area: 4/3/6/5 ;
}
.grid-item-7{
    grid-area: 6/1/7/3 ;
}
.grid-item-8{
    grid-area: 6/2/7/5 ;
    display: flex;
    height: 259px ;
}

.footer-menu{
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
    grid-template-rows: 1fr;
    background-color: #000000;
    margin-top: 106px;
}
.footer-text{
    grid-area: 1/1/2/4;
    text-align: start;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
    padding-top: 30px ;
    padding-bottom: 30px;
    padding-left: 170px;
}
.footer-logo{
    grid-area: 1/5/2/6;
    text-align: start;
    padding-top: 25px;

}

.up-button{
    border: 1px solid black;
    background-color: white;
    border-radius: 50px;
    position:fixed;
    bottom:25px;
    right:25px;
    display: none;
    width:40px;
    height:40px;
   
}
.up-button:hover{
    cursor:pointer;
}

.toggle-btn{
    display: block;
    margin: auto;
    margin-top: 20px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #18B4CF;
    background-color: white;
    color: #18B4CF;
}

.hidden-section{
    display: none;
}

