
#input{
    margin: 50px;
}

.span-style{
    display: flex;  
}
.onblur-style{
    background-color: chartreuse;
}
.remove-button{
    margin-Left: 4px;
    border: none;
    border-Radius: 10px;
    outline: none;

}
.redStyle{
    border: 1px solid red;
} 